.container {
    display: flex;
    width: 80%;
    height: 64px;
    background-color: rgb(245, 245, 255);
    margin-left: 20%;
    box-shadow: 5px 0px 10px 1px rgb(169, 171, 173);
}

ul {
    
    display: flex;
    padding: 20px;
    list-style: none;
    list-style-type: none;
}

ul li a {
     color: rgb(51, 50, 50);
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    border-radius: 10px;
    background-color: rgba(243, 179, 170, 0.452);
}

span {
    position: absolute;
    padding: 18px;
    right: 5px;
}

span:hover {
    color: rgb(245, 83, 61);
}

